*{
    margin: 0;
    padding: 0;
}

#div{
    width:0px;
    height: 30px;
    background-color:red;
}
.div{
    width: 200px;
    height: 30px;
    background-color:blue;
    border:1px solid red;
    border-radius:3px;
    margin:50px 500px;
}
.tr{
    display: inline-block;
    width: 65px;
    height: 124px;
    /* line-height: 20px; */
    text-align: center;

    
}
.jzt{
    width: 800px;
    height: 600px;
    margin:0 auto;
}
span{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: red;
}